{% extends "base.html" %}

{% block title %}Memo{% endblock %}

{% block sidebar %}{% endblock %}

{% block style%}
.question {
    margin: 0px 0px 0px 0px;
    padding: 2px;
    border: 1px solid blue;
    width: 500px;
    display: inline-block;
}
.hidden{
    display: none;
}
.answer {
    margin: 0px 0px 0px 0px;
    border: 1px solid green;
    width: 500px;
    display: block;
}
{% endblock %}

{% block script%}
    var passed_items = new Array();
    var done_items = new Array();
    function check(id, ans) {
        input=document.getElementById("input-"+id);
        judge = document.getElementById("judge-"+id);
        ques = document.getElementById("question");
        if (input.value == ans) {
            judge.src="pic/right.jpg"
            judge.alt="right"
            pass(id)
        } else {
            judge.src="pic/wrong.jpg"
            judge.alt="wrong"
            fail(id)
        }
    }
    function pass(id) {
        passed_items.push(id);
        fbutton = document.getElementById("finish-button")
        fbutton.href+="?id="+id;
    }
    function finish() {
        if (passed_items.length>0)
            window.location="memo?action=finish&r"+passed_items.join("=pass&r")+"=pass"
    }

{% endblock %}

{% block content %}

<a href="/memo">Memo</a> <a href="/memo?action=export">Export</a>
<br>

{% for item in items %}
    <br>
    <div class="question" id="question-{{item.id}}" ><pre>{{item.question}}</pre></div>
    <div class="answer" id="answer-{{item.id}}" ><pre>{{item.answer}}</pre></div>
    round={{item.round}}
    <input type="text" id="input-{{item.id}}" onkeyup="check({{item.id}}, '{{item.word}}')" />
    <img id="judge-{{item.id}}" src="pic/wrong.jpg" alt="todo" />
    <br>
{% endfor %}
<a id="finish_button" href="javascript:finish()">Finish This Round</a>

<div style="display:none">
{% for item in allitems %}
round={{item.round}} lastpass={{item.lastpass}} id={{item.id}} <br>
{% endfor %}
</div>

<form method="post" action="/memo">
    Question:<br>
    <textarea name="question" rows=1 cols=80></textarea> <br>
    Answer:<br>
    <textarea name="answer" rows=3 cols=80></textarea> <br>
    <input type="submit" value="Add item"/>
</form>

Import 
<form method="post" action="/memo_import" enctype="multipart/form-data">
    <input type="file" name="mfile" size="40"> 
    <input type="submit" value="Upload">
</form>
{% endblock %}
