<html>
    <head>
        <title>{% block title %}Hello, FAN Kai{% endblock title%}</title>
         <style type="text/css"> {% block style %}
            <!--
            img { border:none; }
            #footer { margin-top: 1em; }
            #content-text {background-color: #EEE; }
            -->
            {% endblock style %}
        </style>
        <script type="text/javascript">
        {% block script %}
        {% endblock script %}
        </script>
    </head>
    <body>
        <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/store"> Store </a> <br>
            <li><a href="/notes"> Notes </a> <br>
        </ul>
        {% endblock sidebar%}
        </div>

        <div id="content">
        {% block content %} {% endblock content %}
        </div>

        <div id="footer">
        <a href="http://code.google.com/appengine/">
        <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
        </a>
        </div>
</body>
</html>
