{% extends "base.html" %}

{% block title %}Word{% endblock %}

{% block sidebar %}{% endblock %}

{% block style%}


{% endblock %}

{% block script%}
    var known_words = [];

    function know(w) {
        known_words.push(w);
    }

    function commit() {
        addr="/word/import?";
        if (known_words.length>0)
            addr+="known="+known_words.join(",");
        window.location=addr;
    }
{% endblock %}

{% block content %}

{{txt}}

<button onclick="commit()">Commit</button>

{% endblock %}
