{% extends "base.html" %}

{% block title %}Test Page{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}

{{ var|upper }}<br>
{{ var}}<br>
{{ var|lower|center:"30" }}<br>
{{ items|length|linenumbers }}<br>
{{ 1234|make_list|linenumbers }}<br>
{{ var|linenumbers|linebreaks }}<br>
{{ items|random }}<br>
{{ items|random }}<br>
{{ items|slice:"1:-1"}}<br>

<ul>
    {% for i in items %}
    <li> {% cycle item1,item2,item3 as items %} {{i}}
    {% endfor %}
    {% for i in items %}
    <li> {% cycle items %} {{forloop.counter}} {{forloop.first}}
    {% endfor %}
</ul>

<p>
{% if 1 or 0 %} yes {% else %} no {% endif %}
{% if 0 and not 1 %} yes {% else %} no {% endif %}
</p>

<p>
{% for i in items %}
{{i}}
{% ifchanged i %} changed {% endifchanged %}
{% ifequal i i %} equal {% endifequal %}
<br>
{% endfor %}
</p>

<p>{% firstof 0 3 1 %}</p>

<p>{% now "r,T,A" %}</p>
<p>{% now "js F Y H:i" %}</p>

{% endblock %}
